
.grid-cortinas {
    display: grid;
    grid-template-rows: 100px 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    'nav nav nav'
    'cor1 cor2 cor3'
    'cor4 cor5 cor6';
}

#gb {
    // border: 5px solid red;//
}



.encabezado-cortinas {
    grid-area: nav;
    position: sticky;
    top: 0px;
}

.cortina1 {
    grid-area: cor1;
}

.cortina2 {
    grid-area: cor2;
}

.cortina3 {
    grid-area: cor3;
}

.cortina4 {
    grid-area: cor4;
}

.cortina5 {
    grid-area: cor5;
}

.cortina6 {
    grid-area: cor6;
}

.grid-cortinas img {
    width: 350px;
    height: 350px;
    border-radius: 10%;
    box-shadow: 5px 5px 20px black;
    margin-top: 100px;
    margin-left: 30px;
    display: flex;
    gap: 100px;
}

.header-cortinas {
    position: sticky;
    top: 0px;
    background-color: rgb(240, 240, 240);
    display: flex;
    z-index: 1000;
    text-decoration: none;
    flex-wrap: wrap;

    h1 {
        color: rgb(124, 122, 117);
        font-size: 20px;
        font-family: 'Arsenal', sans-serif;
        justify-content: center;
        margin-left: 30px;
        flex-wrap: wrap;
    }
}

.nav-cortinas {
    ul {
        display: flex;
        align-items: center;
        margin-left: 200px;

        li {
            margin-right: 20px;
            justify-content: space-between;
            list-style-type: none;
            font-size: 20px;
            margin-left: 50px;

            a {
                text-decoration: none;
                color: rgb(78, 52, 31);
            }
        }
    }
}

p {
   margin-left: 50px;
}

.wsp-logo {
    position: fixed;
    right: 15px;
    bottom: 35px;
}

